{% extends 'base.html' %}
{% block content %}
<section class="vh-500 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
    
                <div class="mb-md-5 mt-md-4 pb-5">
                    <form action="{% url 'login-submit' %}" method="POST">{% csrf_token %}
                        <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                        <p class="text-white-50 mb-5">Insira suas credenciais para fazer login</p>
    
                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="username">Usuario</label>
                            <input type="username" id="username" class="form-control form-control-lg" name="username" />
                        </div>
        
                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="password">Senha</label>
                            <input type="password" id="password" class="form-control form-control-lg" name="password" />
                        </div>
        
                        {% for message in messages %}
                            <div class="alert alert-danger" style="margin-top:1rem;">
                                <strong>ERROR!</strong> {{ message }}
                            </div>
                        {% endfor %}
                        <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                    
                    </form>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}