{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}RG Digital{% endblock %}</title>
	<!-- Bootstrap 4 CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<!-- Main Jquery -->
	<script type="text/javascript" src="{% static 'vendor/jquery.min.js' %}"></script>
	<!-- Bootstrap Js -->
	<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
	<!-- Top News -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
		  <a class="navbar-brand" href="/">Vagas</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Início</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'todas_vagas' %}">Todas as Vagas</a>
					</li>
					<li class="nav-item">
							<a class="nav-link" href="{% url 'todas_categorias' %}">Categoria de Vagas</a>
					</li>
					{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'logout' %}">Sair</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'login' %}">Login de Usuário</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{% url 'cadastro' %}">Cadastre-se</a>
					</li>
					{% endif %}
				</ul>
		  </div>
	  	</div>
    </nav>

    {% block content %}
    {% endblock %}

<footer class="footer navbar-fixed-bottom text-muted navbar-dark bg-dark">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<p class="float-right text-secondary">
				<a class="text-secondary" href="#">Voltar para o topo</a>
			</p>
			<p>
				<h2 class="text-light"> Vem fazer parte desse time! </h2>
			</p>
			<p>Uma distribuição Albert Richard/LTDA</p>
		</div>
	</nav>
</body>
</html>