{% extends 'base.html' %}
{% block content %}
<main class="container mt-3 mb-5">
	<h3 class="border-bottom pb-1 my-4"> Mais vagas na categoria "{{categoria.titulo}}"</h3>
    <!-- News Box -->
    {% for vagas in todas_vagas %}
	<a href="/detalhes/{{vagas.id}}" class="btn btn-sm">
		<div class="card text-center bg-dark" style="width: 18rem;">
			<div class="card-body">
			<h5 class="card-title text-white">{{vagas.titulo}}</h5>
			<p class="card-text text-white">{{vagas.resumo}}</p>
			</div>
		</div>
	</a>
    {% endfor %}
</main>
{% endblock %}