{% extends 'base.html' %}
{% block content %}
<main class="container mt-3 mb-5">
	<h3 class="border-bottom pb-1 my-4">Todas as categorias</h3>
	<div class="row">
		<!-- Category Box -->
		{% for cat in cats %}
		<a href="categoria/{{cat.id}}" class="btn btn-sm">
			<div class="card text-center bg-dark" style="width: 18rem;">
				<div class="card-body">
				<h5 class="card-title text-white">{{cat.titulo}}</h5>
				</div>
			</div>
		</a>
		{% endfor %}
	</div>
</main>
{% endblock %}