{% extends 'base.html' %}
{% block content %}
<main class="container mt-3 mb-5">
	<!-- featured news -->
	<div class="row my-3">
		<!-- Left -->
		<div class="col-md-8">
			<div class="card mb-3 shadow">
			  <div class="card-body">
			    <h5 class="card-title">{{vaga.titulo}}</h5>
			    <hr/>
				<h6>Detalhes da vaga:</h6>
			    <p class="card-text">{{vaga.detalhe}}</p>
			  </div>
			  <div class="card-footer">
			  	Categoria da vaga - <a class="text-secondary" href="/categoria/{{vaga.categoria.id}}">{{vaga.categoria.titulo}}</a>
			  </div>
			</div>

			<!-- Comments -->
			{% if user.is_authenticated %}
			<div class="card my-4 shadow">
				<h6 class="card-header">Candidatar-se</h6>
				<div class="card-body">
					{% for message in messages %}
					<p class="text-success">{{message}}</p>
					{% endfor %}
					<form method="post" action="/detalhes/{{vaga.id}}">
						{% csrf_token %}
						<div class="form-group row">
							<label class="col-md-2">Nome<span class="text-danger">*</span></label>
							<div class="col-md-10">
								<input type="text" name="nome" required class="form-control" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-2">Email<span class="text-danger">*</span></label>
							<div class="col-md-10">
								<input type="temailext" name="email" required class="form-control" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-2">Número<span class="text-danger">*</span></label>
							<div class="col-md-10">
								<input type="temailext" name="numero" required class="form-control" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-2">Escolaridade<span class="text-danger">*</span></label>
							<div class="col-md-10">
								<textarea class="form-control" name="escolaridade" required></textarea>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-2">Experiência<span class="text-danger">*</span></label>
							<div class="col-md-10">
								<textarea class="form-control" name="experiencia" required></textarea>
							</div>
						</div>
						<input type="submit" class="btn btn-primary" />
					</form>
				</div>
			</div>
			{% else %}
			<div class="card my-4 shadow">
				<h6 class="card-header">Candidatar-se</h6>
				<div class="card-body">
					<h6>Para se candidatar a está vaga é preciso que você esteja registrado no nosso site, efetue o login e boa sorte!</h6>
					<a href="{% url 'login' %}" class="text-secondary">Efetuar login</a>
					ou
					<a href="{% url 'cadastro' %}" class="text-secondary">Cadastrar-se</a>
				</div>
			</div>
			{% endif %}
		</div>

		<!-- Complemento lateral -->
		<div class="col-md-4">
			<h3 class="mb-3 border-bottom pb-1">Mais detalhes</h3>
			<!-- box de inf -->
			<div class="card mb-3 shadow">
			  <div class="card-body">
				<div class="mb-0 text-black">
					<h5>Proposta:</h5>
				</div>
				<div class="card-body">
			    	<p class="card-text">{{vaga.proposta}}</p>
			  	</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="card mb-3 shadow">
			  <div class="card-body">
				<div class="mb-0 text-black">
					<h5>Local:</h5>
				</div>
				<div class="card-body">
			    	<p class="card-text">{{vaga.local}}</p>
			  	</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="card mb-3 shadow">
			  <div class="card-body">
				<div class="mb-0 text-black">
					<h5>Benefícios:</h5>
				</div>
				<div class="card-body">
			    	<p class="card-text">{{vaga.beneficios}}</p>
			  	</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}