{% extends 'base.html' %}
{% block content %}
<main class="container mt-3 mb-5">
	<!-- featured news -->
	<div class="py-lg-md d-flex container">
		<div class="col px-0">
			<div class="row">
				<div class="card-footer shadow" >
					<h1 class="display-3 text-center"> NÓS SOMOS A SCI</h1>
					<br>
					<h2 class="card-title text-center"><span>e amamos tecnologia e contabilidade</span></h2>
					<br>
					<p class="card-text text-center">Estamos há 30 anos no mercado e o nosso propósito é <br>facilitar a vida do contador, oferecendo tecnologia,<br> inteligência e conhecimento. Que tal fazer parte de um<br> de nossos times?</p>
					<div class="text-muted"><a href="{% url 'todas_vagas' %}" class="btn btn-dark">Vagas</a>
					<br>
				</div>
			</div>
		</div>
		<br>
		<div class="card-title text-secondary text-center">
			<h4> Confira nossas vagas! </h4>
		</div>
		<!-- Right -->

		<div class="col-12 card-title shadow">
			<div class="card">
				<div class="row">
					<div class="col-md-12">
						<div class="card-footer">
							<div class="container">
								<a class="card-title text-dark row " style="text-decoration: none">
									<div class="row">
										<div class="col-sm">Titulo</div>
										<div class="col-sm">Categoria</div>
										<div class="col-sm">Local</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 card-title shadow">
			{% for vaga in primeira_vaga %}
			<div class="card">
					<div class="row">
						<div class="col-md-12">
							<div class="card-footer">
								<div class="container">
									<a class="card-title text-dark row " style="text-decoration: none" href="/detalhes/{{vaga.id}}">
										<div class="row">
											<div class="col-sm">{{vaga.titulo}}</div>
											<div class="col-sm">{{vaga.categoria}}</div>
											<div class="col-sm">{{vaga.local}}</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
			{% endfor %}
		</div>
	</div>
</main>
{% endblock %}
